.cont-add-project{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.689);
    z-index:10;
}

.add-project{
    height: auto;
    width: 400px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: white;
    border-radius: 10px;
    padding:30px;
}

.visibility{
    display: none;
}

.input-nombre{
    display: block;
    width: 90%;
    margin:auto;
    padding:10px;
    border-radius: 5px;
    border:1px rgb(146, 146, 146) solid;
    margin-bottom: 10px;
}

.botones{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 90%;
    margin:auto;
}

.botones button{
    background-color: black;
    color:white;
    cursor:pointer;
    padding:7px;
    border-radius: 5%;
}