.contPrincipal{
    position: fixed;
    top:72px;
    left:400px;
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 100vh;
}

.contPrincipal h3{
          font-weight: 500;
          margin-left: 20px;
      }

#agregarTodo{
cursor:pointer;
padding:15px;
margin-left: 5px;
border:none;
border-radius: 5px;
background-color: #0069d9;
color:white;
}

.cont-todo{
    background-color: rgb(230, 230, 230);
    width: 600px;
    display: flex;
    justify-content: space-evenly;
    margin:auto;
    margin-top: 10px;
    margin-left:10px;
    border-radius: 5px;
    padding: 2px;
    cursor:pointer;
}

.cont-todo:hover{
    background-color: rgb(238, 238, 238);
}

.cont-todo:active{
    border: solid rgb(94, 94, 94) 2px;
    padding: 0px;
}

.selection{
    background-color: rgb(255, 255, 255);
    border: solid 2px rgb(179, 179, 179);
    padding: 0;
}

.todoInd{
    width: 60%;
    padding: 10px;
}

.tachado{
    text-decoration: line-through;
}

.btnEliminarTodo{
    width: 11%;
}

.editIcon{
    height: 25px;
    margin-top:auto;
    margin-bottom: auto;
    color: #1b8032;
}

.checkbox{
    height: 25px;
    margin-top:auto;
    margin-bottom: auto;
}

.ckecIcon{
    height: 25px;
    margin-top:auto;
    margin-bottom: auto; 
    color: rgb(97, 97, 97);
}

.deleteIcon{
    color: #DC3545;
    height: 25px;
    margin-top:auto;
    margin-bottom: auto;
}

.proyecto-titulo{
    margin-left: 20px;
    color: rgb(31, 31, 31);
}


@media (max-width: 1000px) {
    .contPrincipal{
        position: absolute;
        top:72px;
        left:40%;
        width: 60%;
        height: 100vh;
    }

    .cont-todo{
        width: 95%;
    }

    .btnEliminarTodo{
        width: 13%;
    }

  }