.proyectos{
    position: fixed;
    top:72px;
    left:0;
    background-color: rgb(204, 204, 204);
    width: 400px;
    height: 100vh;
}

.proyectos h3{
    font-weight: 500;
    margin-left: 20px;
}

#agregarproyecto{
    cursor:pointer;
    padding:15px;
    margin-left: 5px;
    border:none;
    border-radius: 5px;
    background-color: #10541f;
    color:white;
}

.contProy{
    background-color: rgb(174, 174, 174);
    width: 91%;
    display: flex;
    justify-content: space-between;
    margin:auto;
    margin-top: 10px;
    border-radius: 5px;
    padding: 1px;
    cursor:pointer;
}

.contProy:hover{
    background-color: rgb(238, 238, 238);
    
}

.contProy:active{
    border: solid black 1px;
    padding: 0px;
}

.seleccionado{
    background-color: rgb(255, 255, 255);
}

.proyectoInd{
    width: 80%;
    padding: 10px;
}

.botoneliminar{
    width: 20%;
}

.editIconProy{
    height: 25px;
    margin-top:auto;
    margin-bottom: auto;
    margin-right: 20px;
    color: #DC3545;
}


@media (max-width: 1000px) {
    .proyectos{
        position: fixed;
        top:72px;
        left:0;
        background-color: rgb(204, 204, 204);
        width: 40%;
        height: 100vh;
    }

  }