@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;1,500&display=swap');

body{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}

.container{
    /*box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/
    display: block;
    width: 500px;
    margin:auto;
    margin-top: 0;
    text-align: center;
   /* border: black solid 1px;*/
   background-color: rgba(0, 0, 0, 0.267);
   border-radius: 5px;
   padding-top:20px;
   padding-bottom: 20px;
}

.ciudad{
    font-size: 1.8rem;
}

.titulo-temp{
    margin-top: 10px;
}

.titulo-sensacion{
    margin-top:10px;
}

.descripcion-clima{
    margin-top:10px;
}